<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<style>
	.banner {
		background-image: url("{% static 'images/american_flag.jpg' %}")
	}
</style>
<div class="banner">
	<div class="banner-layer">
	<div class="container">
		<div class="banner-logo">
			<a href="index.html">
				<i class="fa fa-flag" aria-hidden="true"></i>
				<h1>PredictIt <span>2020</span> </h1>
			</a>
		</div>
				</div>
				<div class="agileits_w3layouts_menu">
					<div class="shy-menu">
						<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a>
						<div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li><a href="{% url 'homepage' %}">Home</a></li>
									<li class="active"><a href="{% if request.user.is_authenticated %}{% static 'build/index.html' %}{% else %}{% url 'login' %}?next={% static 'build/index.html' %}{% endif %}">My Prediction</a></li>
									<li><a href="{% url 'stats' %}">Stats</a></li>
								</ul>
							</nav>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<div class="agile_banner_info">
				<div class="agile_banner_info1">
					<div id="typed-strings" class="agileits_w3layouts_strings">
						<p>Login or Create a <i>new account</i></p>
						<p>Use a <i>pseudonym</i> for anonymity!</p>
						<p>Your friends will <i>be jealous</i></p>
						<p>Wow it takes you a <i>long time</i> to login...</p>
					</div>
					<span id="typed" style="white-space:pre;"></span>
                    <form method="POST">
                        {% csrf_token %}
                        <style>
                            .form-control {
                            margin-top:20px;
                            margin-bottom:20px;
                            }
                        </style>
                        <div class="container">
                            <p style="color:white;">Username</p> {{ form.username|add_class:'form-control' }}
                            <p style="color:white;">Password</p> {{ form.password|add_class:'form-control' }}
                            <input type="submit" class="btn btn-primary">
                        </div>

                        <p style="margin-top:20px;"><a href="{% url 'registration' %}" style="color:white;">Register a New Account</a></p>
                    </form>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
