<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- banner -->
<style>
	.banner {
		background-image: url("{% static 'images/american_flag.jpg' %}")
	}
</style>
<div class="banner">
	<div class="banner-layer">
	<div class="container">
		<div class="banner-logo">
			<a href="{% url 'homepage' %}">
				<i class="fa fa-flag" aria-hidden="true"></i>
				<h1>PredictIt <span>2020</span> </h1>
			</a>
		</div>
				</div>
				<div class="agileits_w3layouts_menu">
					<div class="shy-menu">
						<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a>
						<div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li class="active"><a href="{% url 'homepage' %}">Home</a></li>
									<li><a href="{% if request.user.is_authenticated %}{% static 'build/index.html' %}{% else %}{% url 'login' %}?next={% static 'build/index.html' %}{% endif %}">My Prediction</a></li>
									<li><a href="{% url 'stats' %}">Stats</a></li>
								</ul>
							</nav>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			<div class="agile_banner_info">
				<div class="agile_banner_info1">
					<div id="typed-strings" class="agileits_w3layouts_strings">
						<p>I see you are interested <i>in stats</i></p>
						<p>A truly refined <i>thinker</i></p>
						<p>Our stats <i>are below</i></p>
						<p>Help I'm trapped in a <i>basement</i></p>
						<p>Stats, stats, <i>everywhere!</i></p>
					</div>
					<span id="typed" style="white-space:pre;"></span>
					<!-- <div style="margin-top:50px;">
						<a class="btn btn-primary" href="{% if request.user.is_authenticated %}{% static 'build/index.html' %}{% else %}{% url 'login' %}?next={% static 'build/index.html' %}{% endif %}">Predict Now</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->
<style>
	.predictittext  h2 {
		margin-top:150px;
		margin-bottom:50px;
	}
	.predictittext p {
		margin-top:25px;
		margin-bottom:25px;
	}

</style>
<div class="container predictittext">
	<div class="well" style="margin-top:50px;margin-bottom:50px;">
		<h2>Stats</h2>
		<table class="table">
			<tr>
				<th>State</th>
				<th>Democrat Predictions (%)</th>
				<th>Republican Predictions (%)</th>
			</tr>
			{% for state_key, state_value in all_state_predictions.all_states %}
			<tr>
				<td>{{ state_key }}</td>
				<td>{{ state_value.d|floatformat:2 }}%</td>
				<td>{{ state_value.r|floatformat:2 }}%</td>
			</tr>
			{% endfor %}
			<tr>
				<td><b>Total States (%)</b></td>
				<td><b>{{ all_state_predictions.total_democrat|floatformat:2 }}%</b></td>
				<td><b>{{ all_state_predictions.total_republican|floatformat:2 }}%</b></td>
			</tr>
			<tr>
				<td><b>Total Electoral Votes</b></td>
				<td><b>{{ total_electoral.0 }}</b></td>
				<td><b>{{ total_electoral.1 }}</b></td>
			</tr>
		</table>
	</div>

</div>

{% endblock %}
